/*César*/
header {
    margin: -10px;
    background-color: #FF6900;
    padding: 0.7vw;
}

.headerOne {
    padding: 0.1vw;
    margin-left: 10%;
    display: flex;
}

.headerOne div {
    padding-inline: 10px;
}

.headerOne div a {
    font-size: 14px;
    vertical-align: middle;
    text-decoration: none;
    color: white;
}


.Tel {
    background-image: url(../Imagenes/phone.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    padding-left: 20px;
    vertical-align: middle;
    text-decoration: none;
    color: white;
}
.CorreoIcon {
    background-image: url(../Imagenes/mail.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    padding-left: 25px;
    vertical-align: middle;
    text-decoration: none;
    color: white;
}
.PersonaIcon {
    background-image: url(../Imagenes/person.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    padding-left: 20px;
    vertical-align: middle;
    text-decoration: none;
    color: white;
}
.Buscar {
    background-image: url(../Imagenes/lupa.webp);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    padding-left: 25px;
    vertical-align: middle;
    text-decoration: none;
    color: white;
}

.phoneBox {
    border-right: 1px solid white;
    padding-inline: 10px;
}

.Persona {
    border-left: 1px solid white;
    padding-inline: 10px;
}

.Busca {
    margin-left: 40%;
    border-right: 1px solid white;
    padding-inline: 10px;
}
/*César*/